  <p>
    <strong><%= sweet.user.name %></strong><br/>
    <%= sweet.text %><br/>
    <i>From: <%= sweet.from %></i>
  </p>
  <%= link_to 'Destroy', sweet, :confirm => 'Are you sure?', :method => :delete %>
  <hr/>
